KDD2019_HetGNN
GraphSmoteOriginal
*.json
*.csv
*.model
*.npy
*.pdf
*.pyc
*.dat
PyG_dataloader_preprocessings
HeteroG/data/acm_han
HeteroG/data/DBLP_four_area_han
HeteroG/data/DBLP_magnn
HeteroG/data/IMDB_magnn
HeteroG/data/imdb_han/*.txt
HeteroG/data/imdb_han/*.npy
HeteroG/data/imdb_han/*.model
HeteroG/data/imdb_han/*.csv
HeteroG/data/LastFM_magnn
HeteroG/data/yelp_kaggle

# Added
*.test
*.pt
HeteroG/aminer_train/train/pre_decoder
HeteroG/aminer_train/train2/pretrained
HeteroG/aminer_train/edge_pred/pretrained
HeteroG/data/academic
HeteroG/data/aminer
HeteroG/data/aminer_edge
HeteroG/dblp/train/pretrained
HeteroG/dblp/data
HeteroG/imdb_train/train/pretrained
HeteroG/imdb_train/data/*.txt
HeteroG/metapath-smote/imdb/pretrained
HeteroG/metapath-smote/imdb/data/*.txt
HeteroG/metapath-smote/imdb/train-alt/pretrained
HeteroG/movielens/train/pretrained
HeteroG/movielens/data
HeteroG/pubmed/train/pretrained
HeteroG/pubmed/data/data2
HeteroG/pubmed/data/*.txt
HeteroG/yelp_train/train/pretrained

